## Requirements

Install the required Python libraries using:

```bash
pip install -r requirements.txt
```

### Required Libraries

```text
numpy
pandas
matplotlib
seaborn
scikit-learn
imbalanced-learn
jupyter
mlflow
```